name: demo
on:
  push:
    branches:
      - main
jobs:
  deploy:
    permissions: 
      id-token: write
      contents: read

    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: ${{ secrets.ROLE_ARN }}
          role-session-name: ${{ github.actor }}
      - uses: alonch/actions-aws-backend-setup@main
        with: 
          instance: auth-demo
      - uses: realsensesolutions/actions-aws-auth@main
        with: 
          action: apply
          name: auth
          callback_urls: "https://example.com/callback"
          logout_urls: "https://example.com"
          enable_managed_login_branding: "false"
          login_position: "CENTER"
          idp: |
            google
            cognito
          google_client_id: ${{ secrets.GOOGLE_CLIENT_ID }}
          google_client_secret: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          # background_asset_path: "assets/background.png"
          # logo_asset_path: "assets/logo.png"
          # favicon_asset_path: "assets/favicon.ico"
          self_registration: "false"
          case_sensitive: "true"
          admin_email: henry@realsensesolutions.com
          allowed_domains: "realsensesolutions.com"