name: demo
on:
  push:
    branches:
      - main
jobs:
  deploy:
    permissions:
      id-token: write
      contents: read

    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: auth-demo
            callback_urls: "https://demo.example.com/callback"
            logout_urls: "https://demo.example.com"
            admin_email: "demo@realsensesolutions.com"
            allowed_domains: "realsensesolutions.com"
          - name: auth-dev
            callback_urls: "https://dev.example.com/callback"
            logout_urls: "https://dev.example.com"
            admin_email: "dev@realsensesolutions.com"
            allowed_domains: "realsensesolutions.com"
          - name: auth-test
            callback_urls: "https://test.example.com/callback"
            logout_urls: "https://test.example.com"
            admin_email: "test@realsensesolutions.com"
            allowed_domains: "realsensesolutions.com"
          - name: auth-qa
            callback_urls: "https://qa.example.com/callback"
            logout_urls: "https://qa.example.com"
            admin_email: "qa@realsensesolutions.com"
            allowed_domains: "realsensesolutions.com"
          - name: auth-uat
            callback_urls: "https://uat.example.com/callback"
            logout_urls: "https://uat.example.com"
            admin_email: "uat@realsensesolutions.com"
            allowed_domains: "realsensesolutions.com"
          - name: auth-staging
            callback_urls: "https://staging.example.com/callback"
            logout_urls: "https://staging.example.com"
            admin_email: "staging@realsensesolutions.com"
            allowed_domains: "realsensesolutions.com"
          - name: auth-sandbox
            callback_urls: "https://sandbox.example.com/callback"
            logout_urls: "https://sandbox.example.com"
            admin_email: "sandbox@realsensesolutions.com"
            allowed_domains: "realsensesolutions.com"
          - name: auth-preview
            callback_urls: "https://preview.example.com/callback"
            logout_urls: "https://preview.example.com"
            admin_email: "preview@realsensesolutions.com"
            allowed_domains: "realsensesolutions.com"
          - name: auth-beta
            callback_urls: "https://beta.example.com/callback"
            logout_urls: "https://beta.example.com"
            admin_email: "beta@realsensesolutions.com"
            allowed_domains: "realsensesolutions.com"
          - name: auth-prod
            callback_urls: "https://example.com/callback"
            logout_urls: "https://example.com"
            admin_email: "henry@realsensesolutions.com"
            allowed_domains: "realsensesolutions.com"
          - name: auth-test-spid
            callback_urls: "https://test-spid.example.com/callback"
            logout_urls: "https://test-spid.example.com"
            admin_email: "test-spid@realsensesolutions.com"
            allowed_domains: "realsensesolutions.com"
      fail-fast: false

    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: ${{ secrets.ROLE_ARN }}
          role-session-name: ${{ github.actor }}
      - uses: alonch/actions-aws-backend-setup@main
        with:
          instance: ${{ matrix.name }}
      - uses: realsensesolutions/actions-aws-auth@main
        with:
          action: apply
          name: ${{ matrix.name }}
          callback_urls: ${{ matrix.callback_urls }}
          logout_urls: ${{ matrix.logout_urls }}
          enable_managed_login_branding: "true"
          login_position: "END"
          idp: |
            cognito
          # google_client_id: ${{ secrets.GOOGLE_CLIENT_ID }}
          # google_client_secret: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          # background_asset_path: "assets/background.png"
          # logo_asset_path: "assets/logo.png"
          # favicon_asset_path: "assets/favicon.ico"
          self_registration: "true"
          case_sensitive: "true"
          admin_email: ${{ matrix.admin_email }}
          allowed_domains: ${{ matrix.allowed_domains }}
          permissions: |
            s3: read
